:root, body, #app {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

#app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* General */
button {
  cursor: pointer;
}

.imgBtn > img {
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

.imgBtn:hover > img {
  transform: scale(1.1);
}

.imgBtn:active > img {
  transform: scale(0.9);
}

.modalBackground {
  position: absolute;
  z-index: 5000;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.5);
}

/* Navigation Bar */

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(13, 120, 243);
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navbar > .imgBtn > img {
  height: 40px;
}

.navbar > h1 {
  color: rgb(228, 228, 228);
  font-size: 20px;
  margin-left: 8px;
  font-weight: 500;
}

.hamburger {
  border: none;
  border-radius: 5px;
  background: rgb(13, 97, 194);
  height: 40px;
  width: 40px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.hamburger > span {
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* Navigation Menu */
.navmenu {
  height: 100%;
  width: 300px;
  background: rgb(255, 255, 255);
  margin-left: auto;
  box-shadow: -5px 0px 10px rgba(44, 44, 44, 0.5);
}

.navmenu > .info {
  background: rgb(13, 120, 243);
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navlinks > a {
  border: none;
  width: 100%;
  height: 40px;
  background: none;
  color: rgb(42, 135, 241);
  padding: 0 16px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px
}

.navlinks > button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navlinks > button:active {
  background-color: rgba(32, 32, 32, 0.4);
}

@media (max-width: 600px) {
  .navmenu {
    width: 100%;
  }
}

/* Page - General */

.pageContainer {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

.selectedBtn {
  background-color: blue;
}

/* Page - Home */
.homepageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageFormContainer {
  background-color: rgb(92, 92, 92);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;
  margin-bottom: 50px;
  width: calc(100% - 100px);
  border-radius: 15px;
  padding: 20px;
}

.messageFormContainer > h3 {
  color: white;
  text-align: center;
  margin: 0;
}

.messageFormContainer.message {
  display: flex;
  flex-direction: column;
}

textarea#message {
  resize: none;
  width: 100%;
  flex-grow: 1;
}

.laneOption {
  display: block;
  width: 100%;
  padding: 50px;
  margin: 16px 0;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.laneOption > h3 {
  font-size: 40px;
  font-weight: 500;
}

.laneOption > p {
  font-size: 20px;
}

.laneOption > h3, .laneOption > p {
  margin: 0;
  color: white;
}