:root, body, #app {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

#app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* General */
button {
  cursor: pointer;
}

.imgBtn > img {
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

.imgBtn:hover > img {
  transform: scale(1.1);
}

.imgBtn:active > img {
  transform: scale(0.9);
}

.modalBackground {
  position: absolute;
  z-index: 5000;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.5);
}

/* Navigation Bar */

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(13, 120, 243);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  flex-shrink: 0;
}

.navbar > .imgBtn > img {
  height: 40px;
}

.navbar > h1 {
  color: rgb(228, 228, 228);
  font-size: 20px;
  margin-left: 8px;
  font-weight: 500;
}

.hamburger {
  border: none;
  border-radius: 5px;
  background: rgb(13, 97, 194);
  height: 40px;
  width: 40px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.hamburger > span {
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* Navigation Menu */
.navmenu {
  height: 100%;
  width: 300px;
  background: rgb(255, 255, 255);
  margin-left: auto;
  box-shadow: -5px 0px 10px rgba(44, 44, 44, 0.5);
}

.navmenu > .info {
  background: rgb(13, 120, 243);
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navlinks > a {
  border: none;
  width: 100%;
  height: 40px;
  background: none;
  color: rgb(42, 135, 241);
  padding: 0 16px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px
}

.navlinks > button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navlinks > button:active {
  background-color: rgba(32, 32, 32, 0.4);
}

@media (max-width: 600px) {
  .navmenu {
    width: 100%;
  }
}

/* Page - General */

.pageContainer {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

/* Page - Home */
.homepageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageFormContainer {
  background-color: rgb(92, 92, 92);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;
  margin-bottom: 50px;
  width: calc(100% - 100px);
  border-radius: 15px;
  padding: 20px;
}

.messageFormContainer > h3 {
  color: white;
  text-align: center;
  margin: 0;
}

.holeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  overflow: auto;
  margin-top: 12px;
}

.holeList > button {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(18, 120, 238);
  color: white;
  border: solid 2px rgb(0, 162, 255);
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.holeList > button.selectedBtn {
  background-color: rgb(0, 162, 255);
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: auto;
  margin-top: 12px;
}

.buttonList > button, .formButton {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(18, 120, 238);
  color: white;
  border: solid 2px rgb(0, 162, 255);
  border-radius: 10px;
  padding: 8px 12px;
}

textarea#message {
  resize: none;
  width: 100%;
  flex-grow: 1;
}

.forumButton {
  width: 100%;
  font-size: 20px;
  padding: 16px;
  text-align: left;
  background: rgb(223, 223, 223);
  border: solid 2px rgb(143, 143, 143);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.forumButton .avatarText {
  height: 30px;
  width: 30px;
  padding: 4px;
  font-size: 12px;
  flex-shrink: 0;
}

.avatarText {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(75, 75, 75);
  color: white;
  font-weight: 500;
}

.avatarText > * {
  height: 100%;
  width: 100%;
}

.avatarBlue {
  background-color: rgb(69, 69, 252);
}

.avatarRed {
  background-color: rgb(252, 69, 69);
}

.avatarYellow {
  background-color: rgb(240, 211, 47);
  color: black;
}

.avatarGreen {
  background-color: rgb(127, 252, 69);
  color: black;
}

.breadcrumbs {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.breadcrumbs > * {
  text-decoration: none;
  font-weight: 600;
}

.breadcrumbs > .seperator {
  font-weight: 400;
}

.tag {
  font-size: 10px;
  font-weight: 600;
  background-color: rgb(240, 76, 11);
  color: white;
  padding: 6px 8px;
  border-radius: 60px;
}

.mainTag {
  font-size: 12px;
  background-color: rgb(11, 156, 240);
  padding: 8px 10px;
  color: white;
}

.message {
  padding: 16px;
}

.messageFormContainer.message {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.messageAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.messageAuthor > .avatarText {
  height: 50px;
  width: 50px;
  font-size: 20px;
  padding: 8px;
}

.message .tag {
  font-size: 12px;
  padding: 6px 8px;
}

.message .mainTag {
  font-size: 14px;
  padding: 8px 10px;
}

.messageBox {
  background: rgb(223, 223, 223);
  color: black;
  padding: 20px;
  border: solid 2px rgb(143, 143, 143);
  border-radius: 12px;
}

.messageBox::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

.userRole {
  font-weight: 800;
}

.ansvarligInfo {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.ansvarligInfo > .avatarText {
  height: 40px;
  width: 40px;
  font-size: 14px;
  padding: 6px;
}

.messageUpdateInfo {
  display: flex;
  align-items: center;
  /*flex-wrap: wrap;
  font-size: 16px;
  gap: 6px 0*/
}

.messageUpdateContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 2px 0
}

.messageUpdateInfo .avatarText {
  height: 40px;
  width: 40px;
  font-size: 14px;
  padding: 6px;
  margin-right: 8px;
  flex-shrink: 0;
}

.flex-hoz-center {
  display: flex;
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.mb-12 {
  margin-bottom: 12px;
}

.text-12 {
  font-size: 12px;
}